/* Font Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/* Icons */
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

:root {
    --primary-color: #006AF7;
    --secondary-color: #7702FF;
    --text-black-color: #363636;
    --text-white-color: #FFFFFF;
    --success-color: #4caf50;
    --error-color: #f44336;
}

* {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

html,
body {
    margin: 0px;
    display: flex;
    flex-direction: column;
}

header {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    margin-top: auto;

    background-color: var(--primary-color);

    color: var(--text-white-color);

    display: flex !important;
    flex: 1 !important;
    flex-basis: 0;
    flex-direction: row !important;
    align-items: center;

}

main {
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    overflow-y: visible;
}

footer {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin-top: auto;

    background-color: var(--primary-color);

    color: var(--text-white-color);

}

ul {
    list-style-type: none;
    margin: 0px;
    padding-inline-start: 0px;
}

hr {
    margin: 0px;
}

input,
select {
    font-size: large;
    border-width: 0px;
    border-bottom-width: 2px;
    border-bottom-color: var(--primary-color);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    padding: 16px;
    background-color: whitesmoke;
    outline: none;

    margin: 4px;
    justify-content: center;
}

select {
    -webkit-appearance: none;
    appearance: none;
}

select {
    background-image: url('../imagens/expand_more.png');
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: calc(100% - 16px) center;
}

dt {
    display: list-item;
    list-style-type: disc;
}

dl {
    margin-bottom: 0px;
}

.container {
    display: flex !important;
    flex: 1 !important;
    flex-basis: 0;
    flex-direction: column !important;
}

.container-row {
    display: flex !important;
    flex: 1 !important;
    flex-basis: 0;
    flex-direction: row !important;
}

.centralizador {
    flex: 0.3 !important;
}

.card {
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.img-logo-login {
    width: 35%;
    max-width: 500px;
    object-fit: cover;
    background-color: white;
    margin: 16px;
}

.img-logo {
    padding: 8px;
    height: 48px;
    width: 48px;
    object-fit: cover;
    margin: 8px;
    margin-left: 18px;
    margin-right: 18px;
    background-color: white;
    border-radius: 68px;
}

.avatar-text {
    width: 64px;
    height: 64px;
    display: flex;
    margin-right: 8px;
    justify-content: center;
    background-color: #D9D9D9;
    border-radius: 50%;
}

.font-price {
    font-size: large;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}

.align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    padding: 32px;
    justify-content: center;
}

.row--white {
    background-color: white;
}

.row--whitesmoke {
    background-color: whitesmoke;
}

.title-row {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.description-row {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* number of lines to show */
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

.button-padrao {
    padding: 8px;
    font-size: large;
    border-radius: 24px;
    padding-left: 18px;
    border: 0px;
    background-color: var(--primary-color);
    color: var(--text-white-color);
}

.button-padrao[type=submit] {
    position: relative;
    /* left: 15%;
    right: 15%;
    bottom: 64px; */
}

.button-header {
    flex: 0;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    border: 0px;
    color: var(--text-white-color);
    background-color: transparent;
}

.button-list {
    display: flex !important;
    flex: 1 !important;
    flex-basis: 0;
    flex-direction: column !important;
    align-items: center;
    padding: 16px;
    border: 0px;
    color: var(--text-black-color);
    background-color: transparent;
}

.button-arrow-list {
    display: flex !important;
    flex-basis: 0;
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
    border: 0px;
    padding-right: 2px;
    color: var(--text-black-color);
    background-color: transparent;
}

.button-footer {
    display: flex !important;
    flex: 1 !important;
    flex-basis: 0;
    flex-direction: column !important;
    align-items: center;
    padding: 8px;
    border: 0px;
    color: var(--text-white-color);
    background-color: transparent;
}

.button-add-aux {
    width: 48px;
    height: 48px;
    margin: 4px;
    justify-content: center;
    border-radius: 35%;
    border: 0px;
    background-color: var(--secondary-color);
    color: var(--text-white-color);
}

.button-float {
    position: fixed;
    right: 18px;
    bottom: 96px;
    width: 48px;
    height: 48px;
    justify-content: center;
    border-radius: 35%;
    border: 0px;
    background-color: var(--secondary-color);
    color: var(--text-white-color);
    box-shadow: 0px 1px 2px 2px #808080;
}


/* Mobile */
@media all and (max-width: 960px) {

    header>h1 {
        font-size: 130%;
    }

    main {
        margin-top: 71px;
        margin-bottom: 71px;
    }

    .centralizador {
        flex: 0.05 !important;
    }

    .img-logo {
        width: 36px;
        height: 36px;
    }

    .img-logo-login {
        width: 80%;
    }

}